---
layout: default
---
<article class="note">
    <header>
        <h1>{{ page.title }}</h1>
        <div class="meta">
            {% if page.date %}
            <span>Last updated: {{ page.date | date: "%B %d, %Y" }}</span>
            {% endif %}
            {% if page.tags %}
            <div>
                {% for tag in page.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </header>

    <div class="content">
        {{ content }}
    </div>

    <footer>
        <a href="{{ '/notes' | relative_url }}">&larr; Back to all notes</a>
    </footer>
</article>